

#menu {
	position: fixed;
	width: 100%;
	height: 35px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #3498db, #59b699);
    padding: 15px 0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
    list-style-type: none;
}

body {
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
}
#about {
    background-image: url('utils/main_background2.jpg');
    background-size: cover;       
    background-repeat: no-repeat;  
    background-attachment: fixed;   
    color: white;                  
    padding: 50px 20px;             
}

#menu li {
    display: inline;
    margin: 0 15px;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, transform 0.2s;
}

#menu a:hover {
    color: #f1c40f;
    transform: scale(1.1);
}


.section {
    padding: 100px 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 3px solid #3498db;
    transition: all 0.3s ease-in-out;
}

.section:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section:first-of-type {
    margin-top: 80px;
}

html {
    scroll-behavior: smooth;
}

#menu a {
    position: relative;
    padding-bottom: 5px;
}

#menu a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #f1c40f;
    transition: all 0.3s;
    transform: translateX(-50%);
}

#menu a:hover::after {
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}


.qr-code:hover {
    transform: scale(1.2) rotate(1deg);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

#contact {
    position: relative;
    margin: 0 auto;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 0;
    margin: 1em 40px;
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid #3333ff;
    background: none;
    font-family: 'Fontawesome', 'Source Sans Pro', sans-serif;
    display: block;
    color: #3333ff;
}

textarea{
    border: 0;
    width: 300px;
    height: 100px;
    display: block;
    margin-left: 40px;
    background: none;
    padding: 10px;
    font-family: 'Fontawesome', 'Source Sans Pro', sans-serif;
    border-bottom: 2px solid #3333ff;
    color: #3333ff;
    margin-bottom:15px;
}


#submit{
    border: 2px solid #252525;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 1.2em 2em;
    color: #212121;
    font-family: 'Open Sans';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: ease all .3s;
}
#submit:hover{
    background: #3333ff; color: #fff; border: #3333ff solid 2px;
}

.rating {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center
}

.rating input {
    display: none;
}

.rating label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.rating label img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.rating input:checked + label img {
    transform: scale(1.5);
}

#spa {
    direction: rtl;
    font-family: 'Arial', sans-serif;
    padding: 2em;
    line-height: 1.8;
  }
  
  #spa h2 {
    color: #3333ff;
    padding-bottom: 0.4em;
    margin-top: 1.5em;
  }
  
   p {
    
    border-right: 5px solid #3333ff;
    padding: 1em 1.5em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }
  
  #spa p::first-line {
    font-weight: bold;
    color: #222;
  }
  

  .dropdown-rating {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dropdown-rating label {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  #rating-select {
    font-size: 1.2rem;
    padding: 0.4em;
    border-radius: 8px;
    text-align: center;
  }
  